<!doctype html>
<html ng-app="contacts" lang="fr">
<head>
  <meta charset="utf-8">
  <title>TP AngularJS – Contacts</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="ContactsListCtrl">

  <h1>TP AngularJS – Contacts</h1>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse email</th>
        <th>Numéro de téléphone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts">
        <td>{{contact.firstName}} {{contact.lastName}}</td>
        <td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
        <td><a href="{{contact.telUri}}">{{contact.tel}}</a></td>
        <td><input type="button" ng-click="remove(contact);" value="X"></td>
      </tr>
    </tbody>
  </table>

  <form ng-submit="add();">
    <p>Prénom&nbsp;: <input ng-model="newContact.firstName"></p>
    <p>Nom&nbsp;: <input ng-model="newContact.lastName"></p>
    <p>Adresse email&nbsp;: <input type="email" ng-model="newContact.email"></p>
    <p>Numéro de téléphone&nbsp;: <input type="tel" ng-model="newContact.tel"></p>
    <p><input type="submit" value="Ajouter"></p>
  </form>

</body>
</html>
