<div class="page-header">
  <h1 hn-loading="saving || loading">{{contact.firstName}} {{contact.lastName}}</h1>
</div>

<form ng-submit="save();" ng-show="!loading">
  <dl>
    <dt>Prénom</dt>
    <dd><input ng-model="contact.firstName"></dd>
    <dt>Nom</dt>
    <dd><input ng-model="contact.lastName"></dd>
    <dt>Adresse email</dt>
    <dd><input ng-model="contact.email" type="email"></dd>
    <dt>Numéro de téléphone</dt>
    <dd><input ng-model="contact.tel" type="tel"></dd>
  </dl>

  <p><a href="#/{{contact.id}}" class="btn btn-default">Annuler</a>
    <input type="submit" value="Enregistrer" class="btn btn-success"></p>
</form>
