<div class="page-header">
  <h1 hn-loading="saving || loading">{{contact.firstName}} {{contact.lastName}}</h1>
</div>

<form ng-submit="save();" ng-show="!loading">
  <dl>
    <dt>Prénom</dt>
    <dd><input ng-model="contact.firstName"></dd>
    <dt>Nom</dt>
    <dd><input ng-model="contact.lastName"></dd>
    <dt>Adresse email</dt>
    <dd><input ng-model="contact.email" type="email"></dd>
    <dt>Numéro de téléphone</dt>
    <dd><input ng-model="contact.tel" type="tel"></dd>
    <dt ng-repeat-start="field in contact.fields | orderBy:'order'" class="additional"><input ng-model="field.name">
      <input type="button" ng-click="remove(field);" value="X" class="btn btn-xs btn-danger">
      <span class="handle btn btn-xs btn-default">=</span></dt>
    <dd ng-repeat-end><input type="{{field.type | lowercase}}" ng-model="field.value"></dd>
  </dl>

  <p>Ajouter un champ&nbsp;:
    <input type="button" value="Texte" ng-click="addField('TEXT');" class="btn btn-sm btn-default">
    <input type="button" value="Tél" ng-click="addField('TEL');" class="btn btn-sm btn-default">
    <input type="button" value="URL" ng-click="addField('URL');" class="btn btn-sm btn-default">
    <input type="button" value="Email" ng-click="addField('EMAIL');" class="btn btn-sm btn-default">
    <input type="button" value="Date" ng-click="addField('DATE');" class="btn btn-sm btn-default">
    <input type="button" value="Heure" ng-click="addField('TIME');" class="btn btn-sm btn-default">
    <input type="button" value="Date et heure" ng-click="addField('DATETIME');" class="btn btn-sm btn-default"></p>

  <p><a href="#/{{contact.id}}" class="btn btn-default">Annuler</a>
    <input type="submit" value="Enregistrer" class="btn btn-success"></p>
</form>

<p class="alert alert-danger" ng-show="msg">{{msg}}</p>
